NEXT_PUBLIC_API_URL=http://localhost:3005/api
NEXT_PUBLIC_API_KEY=your_api_key_here

# Nomes dos cookies de sessão (configuráveis via .env)
NEXT_PUBLIC_JWT_ACCESS_COOKIE_NAME=mindware_doc_access_token
NEXT_PUBLIC_JWT_REFRESH_COOKIE_NAME=mindware_doc_refresh_token

# Configuração recomendada de Cookies
COOKIE_SECURE=true
COOKIE_SAME_SITE=Strict
