# URLs das zonas secundárias (Micro-frontends)
# Essencial para o funcionamento do Proxy Reverso do Portal (Next.js Multi-Zones)

MINDGEST_URL="http://localhost:3002"
AFFILIATE_URL="http://localhost:3001"
